


.preview{
	width:100%;
	height:auto;
	padding:0.1vw 2vw;
	color:black;
	margin: auto;
	background-color: white;
	box-shadow: 2px 3px 10px;
	margin-top: 1vw;
	border-radius: 8px;
}

.first{
	background-color: #ffb385;
	padding:1.5vw;
	margin: auto;
	box-shadow: 2px 3px 10px;
	width:100%;
	height:auto;
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 2.5vw;
	border-radius: 15px;

}
.second{
	width:100%;
	height: auto;
	

}
p{
 line-height: 100%;
 
  
}
.break{
	line-height: 200%;
	
}

.header
{
	text-align:  center;
	width:100%;
  
	
}
.light{
	color:#ff7733;
	
}

.headings{
	font-size: 18px;
    font-weight: 550;
}
span{
	font-size: 16px;
	font-weight: 400;
	
}
