.top{
display:flex;
margin:0vw 5vw ;
}

.forms{
width:50%;
padding-left:15vw;
}

.preview{
	width:90%;
	padding:0 2vw;
	color:white;
	


}

.labels{
	width:500px;
	text-align: right;
	padding:10vw;
	margin-bottom: 12vw;
}
h3
{
	text-align:  center;
}
.light{
	color:rgba(255,255,255,0.5);
}